*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: #D7595D 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: #39D7A5 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 370px;
}
.header_topline {
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
}
.header_topline a {
	color: #fff;
}
.top_links {
	display:inline-block;
	vertical-align:middle;
	z-index: 10;
}
.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
	float: right;
}
.soc_buttons a {
	font-size: 26px;
	margin-left: 8px;
}
.auth_buttons, .main_mnu_button {
	border: none;
	background-color: transparent;
	font-size: 26px;
}
.main_mnu_button {
	color: #fff;
	padding: 9px 15px 0 15px;
}
.logo {
	display: block;
	padding: 15px 0;
	color: #fff;
	font-family: "NautilusPompiliusRegular";
	font-size: 40px;
	text-align: center;

}
.top_header {
	background-color: #4aaad2;

}
.main_mnu {
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.main_mnu a {
	color: #fff;
	padding: 15px 15px;
	display: block;
	-webkit-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s; 
}
.main_mnu a:hover{
	background-color: #2787af;
}
.main_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	z-index: 12;
}
.top_contacts {
	float: right;
	font-size: 32px;
	padding: 0 15px;
	background-color: #2787af;
	line-height: 53px;
}
.main_mnu ul li {
	display: inline-block;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
}

.slider_container img {
	max-width: 100%;
	
}
.slider_container {
	position: relative;
	padding-bottom: 15px;
}
.next_button, .prev_button {
	color: #fff;
	font-size: 36px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 40%;
	background-color: rgba(255,255,255,.2);
	border-radius: 10em;
	padding: 0 17px;
}
.next_button {
	right: 10px;
}
.prev_button {
	left: 10px;
}

section.order {
	background-color: #eee;
	padding: 0 20px;
}
.sell_descr {
	font-size: 22px;
	padding-top: 20px;
	margin-left: 10px;
}
.button {
	overflow: visible;
	display: block;
	background-color: #39D7A5;
	border: none;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	text-transform: uppercase !important;
	margin: 8px auto 10px;
	text-align: center;
}

.button:hover {
	background-color: #4feac8;
}
.button:active {
	background-color: #14af8d;
}
.sell_right {
	float: right;
	padding-top: 7px;
	padding-bottom: 5px;
	margin-right: 10px;

}
.sell_right a {
	width: 230px;

}
.hidden {
	display: none;
}
.pop_form input[type=text] {
	display: block;
	width: 90%;
	margin: 0 auto 12px;
	border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 10px;
}
.pop_form h3 {
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedBold";
}
.blog_item img {
	max-width: 100%;
	margin-bottom: 10px;
}
.blog_item h3 {
	text-transform: uppercase;
	font-family: "RobotoCondensedRegular";
}
.blog_item p {
	margin-top: 0px;
}
.right_aside {
	padding: 10px;
	background-color: #79D9E6;
	border-radius: 5px;
	margin: 30px auto;
	color: #fff;
	font-family: "RobotoCondensedBold";

}
.right_aside ul li {
	list-style: disc;
}
.footer .row {
	background-color: #43484C;
}
.contact_info {
	color: #fff;
	font-family: "RobotoCondensedRegular";
	text-align: center;
	margin: 25px auto;	
}
.fa {
	margin-right: 5px;
}
.app_left, .app_centr, .app_right {
	display: block;
	text-align: center;
}
.app_left:hover, .app_centr:hover, .app_right:hover {
	background-color: #585D61;
	transition:all .4s;
	color: #fff;
	border-radius: 5px;
}
.app_left:active, .app_centr:active, .app_right:active {
	background-color: #39D7A5;
	transition:all .4s;
	color: #fff;
	border-radius: 5px;
}
.applications {
	margin: 10px 0;
}
.applications p {
	font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
}
.applications h1 {
	font-family: "RobotoCondensedBold";
	color: #000;
	padding-top: 25px;
}
.applications img {
	max-width: 50%;
	margin: 0 auto 10px;
	padding-top: 10px;
}
.article {
	margin: 15px auto;
}
.article h1 {
	color: #000;
	text-align: left;
}
.article img {
	max-width: 100%;
}	