/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.sell_right  {
		float: none;
		
		
	}
	.sell_descr {
		text-align: center;
		padding:5px;
	}
	.top_links {
		display: none;
		position: absolute;
		background-color: #585D61;
		width: 100%;
		vertical-align: middle;
		margin-top: 15px;
		padding: 15px;
	}
	.main_mnu ul {
		display: none;
		position: absolute;
		background-color: #3797bf;
		width: 100%;
	}
	.main_mnu ul li {
		display: block;
	}
	.article h1, .article p {
	color: #000;
	text-align: center;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.top_links {
		display: inline-block !important;
	}
	.main_mnu ul {
		display: inline-block !important;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}